@import "~bootstrap/scss/bootstrap";

body {
  --background-color: rgb(219, 237, 243);
  --main-color: lightblue;
  --bright-main-color: rgb(114, 205, 236);
  --warning-color: red;
  --black-color: black;

  padding: 10px 20px;
  background-color: var(--background-color);
}

.rss-form {
  position: relative;
}

.rss-form__input {
  box-sizing: border-box;
  font: 1rem/1.25 sans-serif;
  height: 58px;
  width: 240px;
}

.rss-form__input_invalid {
  outline: 1px solid var(--warning-color);
}

.rss-form__submit-btn {
  background-color: var(--main-color);
  border-radius: 5px;
  border: 2px solid var(--main-color);
  font-size: 1.25rem;
  height: 58px;
  margin-left: 10px;
  padding: 6px 10px;
  vertical-align: top;
  width: 60px;

  &:focus {
    background-color: var(--bright-main-color);
    border-color: var(--black-color);
  }
}

.rss-container {
  display: flex;
  margin: 10px 0 0;
  gap: 20px;
  flex-direction: column;
}

.rss-posts-container {
  flex: 1;
  min-width: 100%;
  max-width: 100%;
}

.rss-feeds-container {
  flex: 1;
}

.rss-posts-list {
  justify-content: space-between;
  padding: 0;
}

.rss-posts-list__item {
  display: flex;
  margin: 10px 0;

  a {
    flex: 1;
  }

  button {
    align-self: flex-start;
    margin-left: 10px;
  }
}

.rss-feeds-list {
  list-style: none;
  padding: 0;
}

.rss-feeds-list__item {
  h3 {
    font-size: 1.25rem;
  }
}

.btn-primary {
  a {
    color: white;
    text-decoration: none;
  }
}

.loading {
  @extend .spinner-border;
  width: 40px;
  height: 40px;
}

@media screen and (min-width: 991px) {
  .rss-container {
    flex-direction: row;
  }

  .rss-posts-container {
    min-width: 60%;
    max-width: 60%;
  }
}
