body {
  padding: 0 10px;
}

.rss-form {
  position: relative;
}

.rss-form__input {
  box-sizing: border-box;
  font: 1rem/1.25 sans-serif;
  height: 58px;
  width: 240px;
}

.rss-form__input_invalid {
  outline: 1px solid red;
}

.rss-form__submit-btn {
  border: 2px solid lightblue;
  border-radius: 5px;
  background-color: lightblue;
  font-size: 1.25rem;
  height: 58px;
  margin-left: 10px;
  padding: 6px 10px;

  &:focus {
    background-color: rgb(114, 205, 236);
    border-color: rgb(114, 205, 236);
  }
}

.rss-container {
  display: flex;
}

.rss-posts-container {
  flex: 1;
  min-width: 60%;
  max-width: 60%;
}

.rss-feeds-container {
  flex: 1;
}

.rss-posts-list {

}

.rss-feeds-list {

}
